
body{
    background-color: rgb(255, 255, 255);
    }
img{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:150px;

}

img{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:150px;

}

