{% extends 'main.html' %}

{% load static%}
 {% block content %}
<div class="container mt-8">
  <div class="row justify-content-center">
    <div id="bigCont" class="col-sm-7">
<!--      {% include 'alerts.html' %}-->
      <form
        action=""
        method="POST"
        class="shadow px-3 py-3"
        enctype="multipart/form-data">
<!--          {% if messages %}-->
<!--          <div>-->
<!--              {% for message in messages %}-->
<!--              <div class="alert {{ message.tags }}" role="alert">-->
<!--                  {{ message }}-->

<!--              </div>-->
<!--              {% endfor %}-->
<!--          </div>-->
<!--          {% endif %}-->

         <img src="{% static 'main_app/images/hudumalogo.jpeg' %}" alt="Huduma Logo">

        {% include 'alerts.html' %}
        <h3 class="text-center text-capitalize text-success">Check In</h3>
        <input
          type="text"
          class="form-control mb-3"
          id="id_number"
          name="id_number"
          required
        />
        {% csrf_token %}
        {{ form }}

        <button class="btn btn-success w-15">Check In</button>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById("checkInForm").onsubmit = function () {
    setTimeout(function () {
      document.getElementById("id_number").value = "";
    }, 10);
  };

  document.getElementById("checkOutForm").onsubmit = function () {
    setTimeout(function () {
      document.getElementById("id_number").value = "";
    }, 10);
  };
</script>

{% endblock %}
 {% block title %} check_in {% endblock %}
