{% extends "main.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
{#    <style>#}
{#        body {#}
{#            background-color: #f8f9fa; /* Light gray - Bootstrap's default background */#}
{#            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;#}
{#        }#}
{#    </style>#}

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div id="bigCont" class="col-sm-6">
            <form action="" method="POST" class="shadow px-4 py-4 text-center" enctype="multipart/form-data">

                <a href="{% url 'home' %}">
                    <img src="{% static 'main_app/images/hudumalogo.jpeg' %}" alt="not found"
                         class="mb-3 mx-auto d-block" style="max-width: 150px;">
                </a>

                {% include 'alerts.html' %}

                <h3 class="text-success text-capitalize">Check Out</h3>

                <input type="text" class="form-control mb-3" id="id_number" name="id_number" required>

                {% csrf_token %}
                {{ form | crispy }}

                <button class="btn btn-success mt-3">Check Out</button>
            </form>
        </div>
    </div>

    <script>
        {% if messages %}
            {% for message in messages %}
                {% if "success" in message.tags %}
                    setTimeout(function () {
                        window.location.href = "{% url 'home' %}";
                    }, 3000); // Delay for 3 seconds
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>

{% endblock %}
{% block title %} Signout{% endblock %}
